

    <!--============= Banner Section Starts Here =============-->
    <section class="banner-section">
        <div class="banner-bg bg_img" data-background="/static/assets/images/banner/banner-bg.jpg">
            <div class="banner-bg-shape"><img src="/static/assets/images/banner/banner-shape.png" alt="banner"></div>
            <div class="round-1">
                <img src="/static/assets/images/banner/01.png" alt="banner">
            </div>
            <div class="round-2">
                <img src="/static/assets/images/banner/02.png" alt="banner">
            </div>
        </div>
        <div class="container">
            <div class="banner-content">
                <h1 class="title">{{.conf.AppName}}</h1>
            </div>
            <div class="banner-form-group">
                <h3 class="subtitle">Shorten URL Is Just Simple</h3>
               
                <div class="banner-counter">
                    <div class="counter-item">
                        <h2 class="counter-title"><span class="counter">{{.clicked}}</span>+</h2>
                        <p>Links clicked per day</p>
                    </div>
                    <div class="counter-item">
                        <h2 class="counter-title"><span class="counter">{{.urltotal}}</span>+</h2>
                        <p>Shortened links in total</p>
                    </div>
                    <div class="counter-item">
                        <h2 class="counter-title"><span class="counter">{{.usersCount}}</span>+</h2>
                        <p>Happy users registered</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Banner Section Ends Here =============-->


    <!--============= Why Section Starts Here =============-->
    <section class="why-section padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-lg-100">
                    <div class="section-header left-style mb-lg-0 sticky-header mb-low ml-0">
                        <h2 class="title">
                            Why Join Us?
                        </h2>
                        <p>Cortaly is a completely free tool where you can create short links, which apart from being free, you get paid! So, now you can make money from home, when managing and protecting your links.</p>
                        <a href="#0" class="custom-button active mt-2">Create Your Account</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-item">
                        <div class="choose-thumb">
                            <img src="/static/assets/images/why/01.png" alt="why">
                        </div>
                        <div class="choose-content">
                            <h5 class="title">JOIN OUR NETWORK</h5>
                            <p>Signup for an account in just one minute, shorten URLs and 
                                sharing your links to everywhere.</p>
                        </div>
                    </div>
                
                  
                </div>
            </div>
        </div>
    </section>
 
    <section class="how-section padding-top padding-bottom pt-md-half pb-max-lg-0">
        <div class="container">
            <div class="section-header mb-low">
                <h2 class="title mb-0">How to start</h2>
            </div>
            <div class="row justify-content-center mb--40">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="/static/assets/images/how/how1.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h6 class="title">CREATE AN ACCOUNT</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="/static/assets/images/how/how2.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h6 class="title">SHORTEN YOUR LINK</h6>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

