<div class="account-section bg_img" data-background="/static/assets/images/account-bg.jpg">
    <div class="container">
        <div class="account-title text-center">
            <a href="{{baseurl .slug ""}}" class="back-home"><i class="fas fa-angle-left"></i>
            Home
            </a>
            <a href="{{baseurl .slug ""}}" class="logo">
                <img src="/static/assets/images/logo/logo.png" alt="logo">
            </a>
        </div>
        <div class="account-wrapper">
            <div class="account-body">
                <h4 class="title mb-20">Welcome To {{.conf.AppName}}</h4>
                <form class="account-form" method="POST" action="{{baseurl .slug "auth/login"}}">
                   <div style="text-align: center;color: red;">
                    {{.Message}}
                   </div>
                   <div class="text-success text-center">
                    {{.SuccessMessage}}
                   </div>
                    <div class="form-group">
                        <label for="sign-up">Your Email </label>
                        <input type="email" placeholder="Enter Your Email" id="sign-up" name="email" value="{{.OldEmail}}">

                        {{if .Errors.Email}}
                        <div class="errors" style="color: red; font-size: 12px;">
                            {{index .Errors "Email"}}
                        </div>
                        {{end}}
                    </div>

                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" placeholder="Enter Your Password" id="pass" name="password">

                        {{if .Errors.Password}}
                        <div class="errors" style="color: red; font-size: 12px;">
                            {{index .Errors "Password"}}
                        </div>
                        {{end}}
                        <span class="sign-in-recovery">Forgot your password? <a href="#0">recover password</a></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="mt-2 mb-2">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="or">
                <span>OR</span>
            </div>
            <div class="account-header pb-0">
                <span class="d-block mb-30 mt-2">Sign up with your work email</span>
                <span class="d-block mt-15">Don't have an account? <a href="{{baseurl .slug "auth/register"}}">Sign Up Here</a></span>
            </div>
        </div>
    </div>
</div>