<div class="container">
    {{template "panel/menu.html" .}}


    <di class="card my-3">
        <div class="card-header" style="display: flex;justify-content: space-between;align-items: center;">
            <b>Urls</b>
            <div style="display: flex;flex-direction: row;align-items: center;gap: 10px;">
                <form action='{{baseurl .slug "panel/urls/batch"}}' class="p-2" method="post" enctype="multipart/form-data">
                    <label for="excel" class="m-0">
                        <input type="file" class="d-none" name="excel_file" id="excel">
                        <span><i class="fas fa-upload"></i></span>
                    </label>
                </form>
                <span data-href='{{baseurl .lang "panel/urls/add"}}' class="p-2 add">
                    <i class="fas fa-plus text-success"></i>
                </span>

                <a href='{{baseurl .lang "panel/urls/download"}}' class="p-2">
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            {{if .flash.Success}}
            <div class="alert alert-success">{{.flash.Success}}</div>
            {{end}}
            {{if .flash.Err}}
            <div class="alert alert-danger">{{.flash.Err}}</div>
            {{end}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Kod</th>
                            <th>Tarih</th>
                            <th>Takma Ad</th>
                            <th>Şifre Durumu</th>
                            <th>Sonlanma Tarihi</th>
                            <th>Url</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $key, $url := .urls}}
                        <tr>
                            <td>{{$url.ShortCode}}</td>
                            <td>{{$url.CreateAt}}</td>
                            <td>{{$url.Alias}}</td>
                            <td>{{$url.IsEncryptedText}}</td>
                            <td>{{$url.ExpirationDate}}</td>
                            <td>
                                ********
                                <a type="button" class="text-success" onclick="copyToClipboard('{{$url.ResultUrl}}')">
                                    <i class="far fa-copy"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ $url.ResultUrl }}" class="text-success mr-1">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a data-href='{{ baseurl $.slug (printf "panel/urls/add/%d" $url.Id) }}'
                                    class="text-primary add">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </di>

</div>
<div class="modal fade" id="addmodal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    async function copyToClipboard(text) {
        try {
            await navigator.clipboard.writeText(text);
            console.log('Text copied to clipboard');
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
    }
    $(document).ready(function () {
        $('.add').click(function () {
            $.get(this.dataset.href, {}, function (res) {
                $('#addmodal .modal-content').html(res)
                $('#addmodal').modal("show")
            })
        })
        $('[name="excel_file"]').change(function () {
            $(this).parents('form').submit()
        })
    })
</script>