<div class="container">
    {{template "panel/menu.html" .}}


    <div class="card my-3">
        <div class="card-header" style="display: flex;justify-content: space-between;align-items: center;">
            <b>Urls</b>
            <div style="display: flex;flex-direction: row;align-items: center;gap: 10px;">
                <form action='{{baseurl .slug "panel/urls/batch"}}' class="p-2" method="post"
                    enctype="multipart/form-data">
                    <label for="excel" class="m-0">
                        <input type="file" class="d-none" name="excel_file" id="excel">
                        <span><i class="fas fa-upload"></i></span>
                    </label>
                </form>
                <span data-href='{{baseurl .lang "panel/urls/add"}}' class="p-2 add">
                    <i class="fas fa-plus text-success"></i>
                </span>

                <a href='{{baseurl .lang "panel/urls/download"}}' class="p-2">
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            {{if .flash.Success}}
            <div class="alert alert-success">{{.flash.Success}}</div>
            {{end}}
            {{if .flash.Err}}
            <div class="alert alert-danger">{{.flash.Err}}</div>
            {{end}}
            <div class="table-responsive">
                <table class="table table-hover" id="urlTable">
                    <thead class="thead-light">
                        <tr>
                            <th>Kod</th>
                            <th>Tarih</th>
                            <th>Takma Ad</th>
                            <th>Şifre Durumu</th>
                            <th>Sonlanma Tarihi</th>
                            <th>Url</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $key, $url := .urls}}
                        <tr>
                            <td>{{$url.ShortCode}}</td>
                            <td>{{$url.CreateAt}}</td>
                            <td>{{$url.Alias}}</td>
                            <td>{{$url.IsEncryptedText}}</td>
                            <td>{{$url.ExpirationDate}}</td>
                            <td>
                                ********
                                <a type="button" class="text-success" onclick="copyToClipboard('{{$url.ResultUrl}}')">
                                    <i class="far fa-copy"></i>
                                </a>
                            </td>
                            <td>
                                <a target="_blank" href="{{ $url.ResultUrl }}" class="text-success mr-1">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a data-href='{{ baseurl $.slug (printf "panel/urls/add/%d" $url.Id) }}'
                                    class="text-primary add mr-1">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a data-href='{{ baseurl $.slug (printf "panel/urls/qr/%d" $url.Id) }}'
                                    class="text-primary qr mr-1">
                                    <i class="fas fa-qrcode"></i>
                                </a>
                                <a data-href='{{ baseurl $.slug (printf "panel/urls/%d" $url.Id) }}'
                                    class="text-danger " onclick="sil('{{$url.Id}}',this)">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="addmodal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="qr" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css">
<script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
<link href="https://cdn.datatables.net/2.3.1/css/dataTables.bootstrap4.css" rel="stylesheet">
<script src="https://cdn.datatables.net/2.3.1/js/dataTables.bootstrap4.js"></script>
<style>
    .dt-length,
    .dt-search {
        margin-bottom: 20px;
    }

    div.dt-container .dt-paging .dt-paging-button:hover {
        outline: none;
        background: white !important;
        border: 1px solid white !important;
    }
    .dt-layout-table{
        margin-bottom: 20px !important;
    }
</style>
<script>


    function sil(id, event) {
        Swal.fire({
            title: 'Emin misiniz?',
            text: 'Bu kayıt silinecek!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil',
            cancelButtonText: 'İptal',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6'
        }).then((result) => {

            if (result.isConfirmed) {

                // ajax veya redirect
                console.log("Silinecek ID:", id);

                $.ajax({
                    type: "delete",
                    url: $(event).data('href'),
                    data: {
                        id: id
                    },
                    success: function (res) {
                        Swal.fire({
                            title: 'Silindi!',
                            text: 'Kayıt başarıyla silindi.',
                            icon: 'success'
                        });
                    }
                })



            }

        });
    }
    async function copyToClipboard(text) {
        try {
            await navigator.clipboard.writeText(text);
            console.log('Text copied to clipboard');
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
    }
    $(document).ready(function () {
        $('.add').click(function () {
            $.get(this.dataset.href, {}, function (res) {
                $('#addmodal .modal-content').html(res)
                $('#addmodal').modal("show")
            })
        })
        $('.qr').click(function () {
            $.get(this.dataset.href, {}, function (res) {
                $('#qr .modal-content').html(res)
                $('#qr').modal("show")
            })
        })
        $('[name="excel_file"]').change(function () {
            $(this).parents('form').submit()
        })
        $('#urlTable').DataTable({
            pageLength: 10,
            ordering: true,
            searching: true,
            responsive: true,
            order: [1, "desc"],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.3.1/i18n/tr.json'
            }
        });
    })
</script>